*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inter;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.main-back{
	background-color: #F7FAFC;
	width: 100%;
	height: 100%;
	padding-top: 20px;
}
.df{
	display: flex;
}
.dfc{
	display: flex;
	flex-direction: column;
}
.bn{
	border: none;
}
.algn-c{
	align-items: center;
}
.pos-rel{
	position: relative;
}
.pos-abs{
	position: absolute;
}



/* header */
header{
	width: 100%;
	
}
.header-top{
	width: 100%;
	height: 86px;
	padding: 24px 130px;
	justify-content: space-between;
	align-items: center;
}
.header-top form{
	border: 1px solid #0D6EFD;
	border-radius: 10px;
	width: 100%;
	max-width: 664px;
	text-align: center;
	margin: 0px 20px;
}
.header-top input{
	padding: 11px 5px 10px 10px;
	outline: none;
	width: 100%;
	background: none;
	font-size: 16px;
}
.header-top select, .app-none{
	border: none;
	background-color: white;
	font-size: 16px;
	outline: none;
	appearance: none;
}
.header-select{
	border-left: 1px solid #0D6EFD;
	padding: 11px 8px 10px 10px;
	width: 100%;
	max-width: 145px;
	justify-content: space-between;
}
.header-top button{
	padding: 11px 10px 10px;
	outline: none;
	background-color: #0067FF;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	color: rgba(255, 255, 255, 1);
	width: 100%;
	max-width: 100px;
	font-size: 16px;

}
.expand{
	width: 24px;
	height: 24px;
}
.ht-box{
	align-items: center;
	gap: 23px;
}
.ht-card{
	align-items: center;
	text-align: center;
	font-size: 12px;
	color: rgba(139, 150, 165, 1);
	gap: 7px;
}
.ht-card span, .header-bottom{
	white-space: nowrap;
}
.ht-card img{
	width: 20px;
	height: 19px;
}
.header-bottom{
	width: 100%;
	height: 56px;
	padding: 17px 130px;
	border-top: 1px solid rgba(224, 224, 224, 1);
	border-bottom: 1px solid rgba(224, 224, 224, 1);
	justify-content: space-between;
}
.header-bottom ul{
	gap: 28px;
	font-size: 16px;
}
.language{
	font-size: 16px;
	gap: 2px;
	margin-right: 32px;
}
.shipto{
	font-size: 16px;
}
.hb-flag{
	margin: 0px 9px 0px 6px;
}
/* header end */

/* main section */

.main-section{
	margin: auto;
	max-width: 1180px;
	width: 100%;
	height: 400px;
	border-radius: 8px;
	border: 1px solid rgba(222, 226, 231, 1);
	background-color: white;
	padding: 20px 20px 15px 14px;
	margin-bottom: 30px;
}
.main-sec-list{
	max-width: 250px;
	width: 100% !important;
}
.main-section ul li{
	width: 100%;
	color: var(--gray-600, #505050);
	font-size: 16px;
	font-weight: 400;
	padding: 11px 10px 10px 10px;
}
.main-section ul li:hover{
	background-color: rgba(229, 241, 255, 1);
	border-radius: 8px;
	color: var(--dark, #1C1C1C);
	font-weight: 500;
}
.main-sec-img{
	max-width: 664px;
	width: 100%;
	height: 363px;
	margin: 0px 20px 0px 11px;
}
.main-sec-img img{
	width: 100%;
	height: 100%;
}
.main-sec-img button{
	border-radius: 6px;
	border: 1px solid var(--white, #FFF);
	background: var(--white, #FFF);
	box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
	height: 40px;
	padding: 0px 16px;
	left: 44px;
	top: 146px;
	font-size: 16px;
	font-weight: 500;
}
.ms-span{
	top: 56px;
	left: 44px;
	color: #1C1C1C;
	font-size: 28px;
	font-weight: 400;
}
.ms-span-b{
	top: 90px;
	left: 43px;
	color: #1C1C1C;
	font-size: 32px;
	font-weight: 700;
}
.main-sec-user{
	max-width: 200px;
	width: 100%;
	gap: 10px;
}
.user-card{
	border-radius: 6px;
	background-color: #E3F0FF;
	padding: 14px 10px 12px 10px;
	gap: 15px;
}
.user-card img{
	border-radius: 50%;
	margin-right: 9px;
	width: 44px;
	height: 44px;
}
.user-card span{
	color: var(--dark, #1C1C1C);
	font-size: 16px;
	font-family: Inter;
	font-weight: 400;
}
.join-btn{
	border-radius: 6px;
	background: var(--primary-gradient, linear-gradient(180deg, #127FFF 0%, #0067FF 100%));
	width: 180px;
	height: 30px;
	padding: 0px 10px;
	color: white;
	border: none;
	margin-bottom: 7px;
}
.log-btn{
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 1);
	width: 180px;
	height: 30px;
	padding: 0px 10px;
	color: rgba(13, 110, 253, 1);
	border: none;
}
.user-span, .user-span-b{
	width: 100%;
	height: 95px;
	color: var(--white, #FFF);
	font-size: 16px;
	font-weight: 400;
	background-color: rgba(243, 131, 50, 1);
	border-radius: 6px;
	padding: 16px 44px 22px 16px;
	
}
.user-span-b{
	background-color: rgba(85, 189, 195, 1);
}
/* main section end */

/* section b */
.b-sec{
	max-width: 1180px;
	width: 100%;
	height: 240px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(222, 226, 231, 1);
	border-radius: 6px;
	margin: auto;
	padding: 1px;
}
.count-card{
	max-width: 45px;
	width: 100%;
	height: 50px;
	border-radius: 4px;
	background-color: #606060;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-weight: 700;
	color: #FFF;
}
#countdown{
	gap: 6px;
	margin-left: 20px
}
.count-span{
	color: #FFF;
	text-align: center;
	font-size: 12px;
	font-weight: 400;
}
.b-sec-card{
	max-width: 179px;
	width: 100%;
	height: 235px;
	align-items: center;
	justify-content: center;
	padding: 8px 19px 17px 20px;
	background-color: rgba(255, 255, 255, 1);
	border-left: 1px solid rgba(222, 226, 231, 1);
}
.b-sec-card img{
	max-width: 140px;
	width: 100%;
	height: 140px;
	object-fit: contain;
}
.b-sec-card h3{
	color: var(--dark, #1C1C1C);
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.2px;
	margin-top: 11px;
}
.b-sec-card span{
	margin-top: 7px;
	height: 28px;
	padding: 3px 13px 4px 13px;
	justify-content: center;
	align-items: center;
	border-radius: 29px;
	background: #FFE3E3;
	color: rgba(235, 0, 27, 1);
}
.count-box{
	max-width: 281px;
	width: 100%;
}
.b-sec-span{
	color: var(--base-color-dark, #1C1C1C);
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.2px;
	margin-top: 20px;
	margin-left: 20px
}
.b-sec-span-b{
	color: var(--gray-500, #8B96A5);
	font-size: 16px;
	font-weight: 400;
	margin-left: 20px;
	margin-bottom: 18px;
}
/* b section end */

/* c and d section */

.cd-box{
	max-width: 1180px;
	width: 100%;
	height: 260px;
	display: flex;
	margin: auto;
	margin-top: 20px;
}
.cd-card{
	max-width: 286px;
	width: 100%;
	height: 254px;
}
.cd-card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	top: 0px;
	left: 0px;
}
.cb-end-top{
	border-top-right-radius: 6px;
}
.cb-end-bottom{
	border-bottom-right-radius: 6px;
}
.cd-card button{
	height: 40px;
	padding: 0px 16px;
	border-radius: 6px;
	border: 1px solid var(--white, #FFF);
	background: var(--white, #FFF);
	box-shadow: 0px 1px 2px 0px rgba(56, 56, 56, 0.08);
	z-index: 2;
	top: 90px;
	left: 20px;
}
.b-button{
	top: 120px !important;
}
.cd-card span{
	color: var(--base-color-dark, #1C1C1C);
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.2px;
	width: 154px;
	z-index: 2;
	top: 20px;
	left: 20px;
}
.cd-cardbox{
	display: flex;
	padding: 20px 0px 0px 16px;
	width: 224px;
	/* width: 100% !important; */
	height: 127px;
	border: 1px solid rgba(224, 224, 224, 1);
	background-color: #FFF;
}
.cd-cardbox img{
	max-width: 82px;
	width: 100%;
	height: 82px;
	object-fit: contain;
	margin-top: auto;
	margin-left: auto;
	padding-bottom: 3px;
}
.cd-cardbox h4{
	color: var(--base-color-dark, #1C1C1C);;
	font-size: 16px;
	font-weight: 400;
}
.cd-cardbox span{
	color: var(--gray-500, #8B96A5);
	font-size: 13px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
}
/* c and d section end */

/* feedback section */

.feedback{
	max-width: 1180px;
	width: 100%;
	height: 420px;
	margin: auto;
	justify-content: space-between;
	border-radius: 6px;
	margin-top: 20px;
	padding: 35px 31px 50px 45px;
}
.feedback img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0px;
	left: 0px;
	border-radius: 6px;
}
.feedback div{
	z-index: 22;
}
.fb-span{
	color: #FFF;
	font-size: 32px;
	font-weight: 600;
	letter-spacing: -0.2px;
	max-width: 440px;
	width: 100%;
	margin-bottom: 13px;
}
.fb-span-b{
	max-width: 390px;
	width: 100%;
	color: #FFF;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.2px;
}
.feedback form{
	width: 491px;
	height: 346px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 6px;
	padding: 20px 31px 25px 20px;
}
.feedback label{
	max-width: 332px;
	width: 100%;
	color: var(--base-color-dark, #1C1C1C);
	font-size: 20px;
	font-weight: 600;
	line-height: 28px;
	letter-spacing: -0.2px;
	margin-bottom: 18px;
}
.fb-q{
	width: 100%;
	height: 40px;
	color: rgba(28, 28, 28, 1);
	font-size: 16px;
	font-weight: 400;
	padding: 11px 10px 10px 10px;
	border: 1px solid rgba(222, 226, 231, 1);
	border-radius: 6px;
	margin-bottom: 20px;
	outline-style: none;
}
.fb-a{
	width: 100%;
	height: 73px;
	color: rgba(139, 150, 165, 1);
	font-size: 16px;
	font-weight: 400;
	padding: 11px;
	border: 1px solid rgba(222, 226, 231, 1);
	border-radius: 6px;
	margin-bottom: 20px;
	outline-style: none;
}
.fb-qua{
	max-width: 206px;
	width: 100%;
	height: 40px;
	color: rgba(28, 28, 28, 1);
	padding: 11px 10px 10px 10px;
	border: 1px solid rgba(222, 226, 231, 1);
	border-radius: 6px;
	margin-right: 8px;
	margin-bottom: 20px;
}
.fb-pcs{
	max-width: 111px;
	width: 100%;
	height: 40px;
	color: rgba(28, 28, 28, 1);
	padding: 11px 8px 10px 10px;
	border: 1px solid rgba(222, 226, 231, 1);
	border-radius: 6px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fb-pcs img{
	width: 24px;
	height: 24px;
}
.feedback button{
	color: var(--white, #FFF);
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: rgba(255, 255, 255, 1);
	border-radius: 6px;
	background: var(--primary-gradient, linear-gradient(180deg, #127FFF 0%, #0067FF 100%));
	border: none;
	width: 128px;
	height: 40px;
	padding: 0px 16px;
}
/* feedback section end */

/* recommended items section */

.ri{
	max-width: 1180px;
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
}
.ri h3{
	margin-top: 20px;
	margin-bottom: 24px;
	color: var(--dark, #1C1C1C);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: -0.2px;
}
.ri-box{
	flex-wrap: wrap;
	gap: 20px;
}
.ri-card{
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(224, 224, 224, 1);
	border-radius: 6px;
	width: 220px;
	height: 310px;
}
.ri-card img{
	width: 200px;
	height: 200px;
	object-fit: none;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 9px;
}
.ric-price{
	color: var(--base-color-dark, #1C1C1C);
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-left: 16px;
}
.ric-name{
	width: 186px;
	height: 53px;
	color: var(--gray-500, #8B96A5);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.2px;
	margin-left: 16px;
}
/* recommended items section end */

/* extra services section */

.es-sec{
	max-width: 1180px;
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
}
.es-sec h3{
	margin-bottom: 22px;
	color: var(--dark, #1C1C1C);
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: -0.2px;
}
.es-box{
	gap: 20px;
}
.es-card{
	width: 280px;
	height: 200px;
	border: 1px solid rgba(224, 224, 224, 1);
	border-radius: 6px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.es-img{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	width: 100%;
}
.es-ico{
	position: absolute;
	top: 92px;
	right: 21px;
	width: 55px;
	height: 55px;
	border-radius: 50px;
	background-color: rgba(209, 231, 255, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	justify-content: center;
}
.es-card span{
	display: flex;
	max-width: 175px;
	width: 100%;
	height: 44px;
	margin-bottom: 20px;
	margin-left: 20px;
	color: var(--dark, #1C1C1C);
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
/* extra services section end */